main
  height: 90vh

.home-container
  display: flex
  flex-direction: row
  width: 100%
  height: 100%
  justify-content: center
  vertical-align: center

.snake-container
  width: 50%
  height: 100%

.presentation-container
  display: flex
  flex-direction: column
  width: 50%
  height: 100%

  padding-right: 200px
  justify-content: center
  color: white

.presentation-title
  font-size: xxx-large
  font-weight: bolder
  line-height: 50px

