<main>
	<div class='home-container'>
		<div class='snake-container'>
			<iframe src='https://my.spline.design/untitled-1ab9e879871236f2c3dfe69e96297a4a/' frameborder='0' class='snake-frame' width='100%' height='90%'></iframe>
		</div>
		<div class='presentation-container'>
			<h1 class='presentation-title'>
				Your personal .csv files charts editor
			</h1>
			<h2>
				Import your .csv files and create your own charts for your next data analysis needs
			</h2>
			<label class='file-input' for="file">
				Select File >
				<input
					class='file-input'
					type='file'
					id='file'
					(change)='handleFileInput($event)'
				>
			</label>
		</div>
	</div>
	<div *ngIf='headers !== undefined && lines !== undefined'>
		<div class="row">
			<div *ngFor="let header of headers">
				<h1>{{header}}</h1>
			</div>
		</div>
		<div *ngFor="let line of lines">
			<div class='row' *ngFor="let data of line">
				<p>{{data}}</p>
			</div>
		</div>
	</div>
</main>

