main
  height: 90vh

.home-container
  display: flex
  flex-direction: row
  width: 100%
  height: 100%
  justify-content: center
  vertical-align: center

.snake-container
  width: 50%
  height: 100%

.presentation-container
  display: flex
  flex-direction: column
  width: 50%
  height: 90%

  padding-right: 200px
  justify-content: center
  color: white

input[type=file]
  display: none

.file-input
  cursor: pointer
  width: fit-content
  padding: 10px
  border-radius: 10px
  background-color: #C2625F
  transition: .2s ease-in-out

.file-input:hover
  transform: scale(1.2)
  transition: transform .2s ease-in-out
  background-color: #C2625F

.presentation-title
  font-size: xxx-large
  font-weight: bolder
  line-height: 50px
  background: -webkit-linear-gradient(#eee, #DAF7A6)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent

.black-box
  position: absolute
  height: 55px
  width: 100%
  background-color: #121316
  top: 82vh
